/*@font-face {*/
/*    font-family: 'Hyundai';*/
/*    src: url("../font/Hyundai_medium.ttf");*/
/*    !* ttf 는 IE 에서만 적용 안 됨 *!*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*}*/
@font-face {
  font-family: "Hyundai";
  src: url("../font/Hyundai_Bold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Hyundai";
  src: url("../font/Hyundai_Light.ttf");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Hyundai";
  src: url("../font/HyundaiR.woff2") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "Hyundai", sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #222;
}

.layout {
}

/* Header Section */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 60;
}
.header .inner-header {
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  z-index: 60;

  transition: 0.5s;
}
.header .inner-header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-color: transparent;

  transition: 0.8s;
}
.header .inner-header.background::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  background-color: #fff;
}

.header .logo {
  position: relative;
  width: 115px;
  height: 22px;
}
.header .logo a {
}
.header .logo a img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  object-fit: cover;
}
.header .logo a:first-child img {
}
.header .logo a:last-child img {
  display: none;
}

.header .gnb {
  position: absolute;
  left: 30%;
  z-index: 100;
}
.header .gnb ul {
  display: flex;
}
.header .gnb ul li {
  margin-right: 35px;
  width: 100px;
  box-sizing: border-box;
  white-space: nowrap;
}

.header .gnb ul li a.gnb-cat {
  position: relative;
  display: block;
  width: 100px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  color: #fff;
}
.header .gnb ul li a.gnb-cat::after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  left: 0;
  bottom: 0;
  background-color: transparent;
  transition: 0.7s;
}
.header .gnb ul li a.gnb-cat.line::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  left: 0;
  bottom: 0;
  background-color: #0b2c5f;
}

.header .gnb ul li .ul {
  position: absolute;
  top: 100px;
  width: 100px;

  display: none;
}
.header .gnb ul li .ul li {
  width: 100px;
  height: 45px;
}
.header .gnb ul li .ul li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}

.header .side-menu {
  position: absolute;
  z-index: 100;
  right: 50px;
}
.header .side-menu a {
  display: inline-block;
}
.header .side-menu a:last-child {
  margin-left: 40px;
}
.header .side-menu a i {
  font-size: 26px;
  color: #fff;
}

/* Main */
.main {
}

.main section .inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.main section .title {
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}
.main section .title h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 16px;
}
.main section .title p {
  font-weight: 200;
}

/* visual */
.main .visual {
  position: relative;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: tomato;
  background-image: url("../image/casper.png");
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  color: #fff;
  /* 영상 화면 밖으로 나가는 부분 가려지게 하기 */
  overflow: hidden;
}

.main .visual .video-area {
  position: absolute;
  left: 0;
  top: 0;

  /* 한 view 에만 나오도록 */
  height: 100vh;
  width: 100vw;
}
.main .visual .video-area video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* 영상 화면에 맞게 설정 하기 */
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.main .visual .title {
  /*border: 2px solid coral;*/
  text-align: center;

  position: relative;
}
.main .visual .title h2 {
  font-size: 67px;
  font-weight: 600;
  /* font 맞지 않는 윗 여백 없애기 */
  margin-top: -6px;
}
.main .visual .title p {
  font-size: 22px;
  font-weight: 400;
  /* font 여백 계산 후, 남는 margin 적용함 */
  margin: 12px 0 37px;
}
.main .visual .title .link {
  display: flex;
  align-items: center;
}
.main .visual .title .link a {
  font-size: 16px;
  /* html 기본 폰트 사이즈: 16px */
  font-weight: 400;
  margin-left: 29px;
  color: #fff;
}
.main .visual .title .link a.blue-box {
  width: 185px;
  height: 46px;
  background: #0b2c5f;
  border: 2px solid #fff;
  /* border 를 내가 지정한 폭 안으로 설정 */
  box-sizing: border-box;

  color: #fff;
  text-align: center;
  line-height: 46px;

  margin-left: 0;
}
.main .visual .title .link a hr {
  height: 2px;
  border: 0;
  background: #fff;
  margin: 3px 0 0;
}

.main .visual .arrow-down {
  position: absolute;

  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

/* Best Section */
.main .best {
  height: 1120px;
}
.main .best .title {
  padding: 82px 0;
}
/* */
.main .best .best-item {
  background: #fff;
  padding-bottom: 100px;
  width: 100%;
  text-align: center;
}
/* */
.main .best .best-item .items {
  text-align: center;
}
.main .best .best-item .items span {
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid #2b8ab0;
  border-radius: 25px;
  color: #2b8ab0;
}
.main .best .best-item .items h3 {
  font-size: 34px;
  font-weight: 400;
  margin: 16px 0 97px;
}

.main .best .best-item .option-list {
  display: flex;
  justify-content: center;
  text-align: left;

  margin: 84px 0 50px;
}
.main .best .best-item .option-list li {
  display: flex;

  padding-right: 30px;
  margin-right: 30px;
}
.main .best .best-item .option-list li:last-child {
  padding: 0;
  margin: 0;
  border: 0;
}
.main .best .best-item .option-list li .color-chip {
  width: 56px;
  height: 40px;
  background: #414337;
  margin-right: 19px;
}
.main .best .best-item .option-list li .color-chip div {
  width: 50%;
  height: 100%;
  float: left;
  background: #484848;
}
.main .best .best-item .option-list li .color-chip div:nth-child(2) {
  background: #9d9c83;
}

.main .best .best-item .option-list li .color-text {
}
.main .best .best-item .option-list li .color-text strong {
  display: block;
  font-weight: 600;
  margin-bottom: 9px;
}
.main .best .best-item .option-list li .color-text span {
  font-weight: 200;
}

.main .best .best-item .option-list li .price {
  font-size: 36px;
  color: #0b2c5f;
}
.main .best .best-item .option-list li .price small {
  font-size: 16px;
}

.main .best .best-item .btn-items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main .best .best-item .btn-items a {
  display: inline-block;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-weight: 200;
  font-size: 16px;
  transition: 0.5s;
}
.main .best .best-item .btn-items a:hover {
  background-color: #000;
  color: #fff;
}
.main .best .best-item .btn-items span {
  margin-left: 12px;
}

/* slick-slide */
.slide-con {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* slide-dots */
.slick-list {
}

.best .best-item .slick-dots {
  position: absolute;
  bottom: -300px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin-top: 50px;
}
.best .best-item .slick-dots li {
  width: 10px;
  height: 10px;
  background: lightgray;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}
.best .best-item .slick-dots li.slick-active {
  background: dodgerblue;
}
.best .best-item .slick-dots li button {
  display: none;
}

/* left,right btn */
.best .left-btn,
.best .right-btn {
  cursor: pointer;
}

/* slide 설정 */
.main .best-item .slide-con {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .items = .slick-slide */
.main .best-item .slide-con .slick-slide {
  width: 1000px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid dodgerblue;*/
}

.main .best .left-btn {
  position: absolute;

  top: 377px;
  left: 300px;

  width: 15px;
  height: 30px;
  background-image: url("../image/left.png");
  z-index: 10;
}
.main .best .right-btn {
  position: absolute;

  top: 377px;
  right: 300px;

  width: 15px;
  height: 30px;
  background-image: url("../image/right.png");
  z-index: 10;
}

/* Benefit Section */
.main .benefit {
  /*height: 1000px;*/
  background: #f4f4f4;

  padding: 112px 0 108px;
}

.main .benefit .title {
  margin-bottom: 68px;
}

.main .benefit .benefit-items {
  display: flex;
  justify-content: space-between;
}
.main .benefit .benefit-items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 412px;
  background: #fff;
  font-weight: 400;
  text-align: center;
}
.main .benefit .benefit-items .item span {
  display: inline-block;
  padding: 4px 10px;
  background: #0b2c5f;
  color: #fff;
  border-radius: 10px;

  margin-bottom: 12px;
}
.main .benefit .benefit-items .item strong {
  display: block;
  font-size: 22px;
  font-weight: 600;
  color: #0b2c5f;

  margin-bottom: 30px;
}
.main .benefit .benefit-items .item img {
  width: 155px;
  height: 155px;
  object-fit: cover;
}
.main .benefit .benefit-items .item p {
  margin: 25px 0;
  line-height: 1.2;
}
.main .benefit .benefit-items .item a {
  display: inline-block;
  font-size: 15px;
  color: #2b8ab0;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}
.main .benefit .benefit-items .item a:hover {
  border-bottom: 1px solid #2b8ab0;
}

/* Guide Section */
.main .guide {
  padding: 128px 0;
}

.main .guide .title {
}
.main .guide .title p {
  margin-bottom: 37px;
}
.main .guide .title a {
  font-size: 14px;
  color: #2b8ab0;
}

.main .guide .guide-video {
  background: black;
  font-size: 0;
  margin: 65px 0 70px;

  /*overflow: hidden;*/
  position: relative;
  height: 675px;
}

.main .guide .guide-video iframe {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.main .guide .guide-depth {
  display: flex;
  padding-left: 80px;
  padding-right: 78px;
}
.main .guide .guide-depth li {
  text-align: center;
}
.main .guide .guide-depth li strong {
}
.main .guide .guide-depth li a {
  font-weight: 400;
}

.main .guide .guide-depth li.depth1 {
  margin-right: 160px;
}
.main .guide .guide-depth li.depth2 {
  margin-right: 146px;
}
.main .guide .guide-depth li.depth3 {
  margin-right: 138px;
}
.main .guide .guide-depth li.depth4 {
  margin-right: 154px;
}
.main .guide .guide-depth li.depth5 {
  margin-right: 148px;
}
.main .guide .guide-depth li.depth6 {
}

.main .guide .guide-depth li .icon {
  width: 30px;
  height: 30px;
  margin: 15px auto;

  background-image: url("../image/ico-main-guide.png");
  background-repeat: no-repeat;
}
.main .guide .guide-depth li.depth1 .icon {
  background-position: 0 0;
}
.main .guide .guide-depth li.depth2 .icon {
  width: 19px;
  background-position: -30px 0;
}
.main .guide .guide-depth li.depth3 .icon {
  width: 50px;
  background-position: -49px 0;
}
.main .guide .guide-depth li.depth4 .icon {
  width: 40px;
  background-position: -99px 0;
}
.main .guide .guide-depth li.depth5 .icon {
  width: 49px;
  background-position: -139px 0;
}
.main .guide .guide-depth li.depth6 .icon {
  width: 51px;
  background-position: -188px 0;
}

/* Event Section */
.main .event {
  background: #f4f4f4;
  padding: 108px 0 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main .event .title {
  padding-bottom: 62px;
}
.main .event .event-item-wrap {
  position: relative;
}
.main .event .event-item {
  font-size: 0;
}
.main .event .btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 30px;
  background: rgba(128, 128, 128, 0.47);
  cursor: pointer;
}
.main .event .prev-btn {
  left: 0;
}
.main .event .next-btn {
  right: 0;
}
.main .event .btn span {
  width: 10px;
  height: 10px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.main .event .prev-btn span {
  transform: rotate(-45deg);
}
.main .event .next-btn span {
  transform: rotate(135deg);
}

/* */
.main .event .inner {
  width: auto;
}
/* */
.main .event .title {
  margin-bottom: 62px;
}
.main .event .event-item {
  font-size: 0;
}

/* Recommend Section */
.main .recommend {
  height: 1000px;
}
.main .recommend .title {
  margin-bottom: 86px;
}

.main .recommend .recommend-items {
  position: relative;
  width: 1824px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main .recommend .recommend-items .item {
  width: 590px;
  height: 560px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
  transition: 0.8s;
}
.main .recommend .recommend-items .item.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.main .recommend .recommend-items .item:nth-child(2) {
  width: 591px;
  transition-delay: 0.2s;
}
.main .recommend .recommend-items .item:nth-child(3) {
  transition-delay: 0.4s;
}

.main .recommend .recommend-items .item .image-area {
  position: relative;
  width: 590px;
  height: 300px;

  overflow: hidden;
}
.main .recommend .recommend-items .item .image-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.main .recommend .recommend-items .item .image-area:hover img {
  transform: scale(1.2);
}
.main .recommend .recommend-items .item .image-area:hover .info {
  transform: translateY(0);
}

.main .recommend .recommend-items .item .image-area .info {
  position: absolute;
  width: 590px;
  height: 300px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;

  transform: translateY(100%);
  transition: 0.5s;
}
.main .recommend .recommend-items .item .image-area .info .info-text {
  position: absolute;
  left: 5%;
  bottom: 10%;
}
.main .recommend .recommend-items .item .image-area .info p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.main .recommend .recommend-items .item .image-area .info p strong {
  font-size: 28px;
  font-weight: 500;
}
.main .recommend .recommend-items .item .image-area .info p:nth-child(1) {
  margin-bottom: 20px;
}

.main .recommend .recommend-items .item .desc {
  padding-top: 36px;
}
.main .recommend .recommend-items .item .desc h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 28px;
}
.main .recommend .recommend-items .item .desc p {
  letter-spacing: -0.2px;
  font-weight: 200;
  line-height: 1.3;
}
.main .recommend .recommend-items .item .desc a {
  font-size: 14px;
  color: #2b8ab0;

  position: absolute;
  bottom: 0;
}

/* Footer Section */
.footer {
  background: #1c1a1b;
  padding: 60px 0 56px;
}
.footer .inner-footer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.footer .footer-logo {
  font-size: 0;
  width: 200px;
}
.footer .footer-logo img {
  width: 150px;
  height: 21px;
}

.footer .footer-menu {
  width: 1000px;
}
.footer .footer-menu ul {
  font-size: 0;
}
.footer .footer-menu ul:first-child li {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../image/foot_line.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 19px;
  margin-right: 20px;
  color: #888;
}
.footer .footer-menu ul li:last-child {
  padding-right: 0;
  margin-right: 0;
  background: none;
}
.footer .footer-menu ul li:nth-child(2) a {
  color: #fff;
}
.footer .footer-menu ul li a {
  color: #888;
  font-size: 15px;
}

.footer .footer-menu .footer-info {
  margin-top: 22px;
}
.footer .footer-menu .footer-info li {
  font-size: 15px;
  color: #888;
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 14px;
}
.footer .footer-menu .footer-info li:nth-child(4) {
  margin-right: 0;
}
.footer .footer-menu .footer-info li a {
  font-size: 13px;
  color: #626262;
  margin-left: 4px;
}
.footer .footer-menu p {
  color: #626262;
  font-size: 15px;
}
